/*Global*/

html,body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

p {
    text-align: justify;
}

h2 {
    border-bottom: 5px solid #9acd32;
}

/* Header */
h1{
    background-color: #2f4f4f;
    color: #eee;
    border-radius: 10px;
    padding: 5px;
}

img {
    max-width: 100%;
    min-width: 45%;
}

/*Main*/

main {
    width: 70%;
    margin: 0 auto;
}

figure {
    background-color: #f2eded;
    border: 1px solid #999;
    text-align: center;
}

figure img {
    width: 75%;
}

/*Footer*/

footer{
    padding: 20px 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    background-color: #2f4f4f;
    border-top: 5px solid #9acd32;
}

footer address, footer p, footer a {
    color: #eee;
    text-decoration: none;
    margin: 0 0 20px 0;
    font-size: .9rem;
}