html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}
main{
    width: 70%;
    margin: 0 auto;
}
p{
    text-align: justify;
}
h1 {
    background-color: #2f4f4f;
    color: #eee;
    border-radius: 10px;
    padding: 5px;
}
figure {
    background-color: #eee;
    text-align: center;
}
h2 {
    border-bottom: 5px solid #0f920f;
}

figure img {
    width: 75%;
}
footer{
    padding: 20px 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    background-color: #2f4f4f;
    border-top: 5px solid #0f920f;
}

footer address, footer p, footer a {
    color: #eee;
    text-decoration: none;
    margin: 0 0 20px 0;
    font-size: .9rem;
    font-style: normal;
}